@charset "utf-8";

// Import material icons
@import url('https://cdn.materialdesignicons.com/5.3.45/css/materialdesignicons.min.css');
// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

$purple: #8A4D76;
$pink: #FA7C91;
$brown: hsl(22, 39%, 31%);
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $brown;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

@import "../node_modules/bulma/bulma";